doctype html  
html(lang='en')  
    head
        title Unit Conversion
        link(rel="stylesheet" href="./css/layout.css")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet") 
    body  
      h1
        | Steve's Unit Converter
      hr
      p
        | Examples
      ul
        li 
          a(href="/convert?q=16 st 7 lbs")
            | 16 st 7 lbs
        li 
          a(href="/convert?q=6 ft 4.5 in")
            | 6 ft 4.5 in
        li 
          a(href="/convert?q=35.2 km2")
            | 32.5 km2
        li
          a(href="/convert?q=2 hr 3 min")
            | 2 hr 3 min
        li
          a(href="/convert?q=3000 ft")
            | 3000 ft
        li
          a(href="/convert?q=2 pint")
            | 2 pint
      hr
      p
        | Make sure you put a space between the amount and the units!
      p
      form(method="get" action="/convert")
        input(id="q" name="q" type="text" placeholder="6 ft 4 in")
        input(type="submit" value="convert!" name="convert!")
