doctype html  
html(lang='en')  
    head
        title Unit Conversion
        link(rel="stylesheet" href="./css/layout.css")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet") 
    body  
      h1
        | Steve's Unit Converter
        form(method="get" action="/convert")
          label(for="q")
            | Query 
          input(id="q" name="q" type="text" placeholder="length 6 ft 4 in")
          input(type="submit" text="convert!")
