* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: white;
  font-family: 'Raleway';
}

body {
  width: 200px;
  margin: 0 auto;
}

label {
  font-size: 1rem;
}

input {
  font-weight: bolder;
  font-size: 1.3rem;
}

table {
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
  color: red;
  margin-bottom: 2rem;
}

td {
  background-color: whiteSmoke;
  padding: .5rem;
}

input {
  margin: 1rem 0 ;
}

::placeholder {
  color: rgba(255,0,0,.3);
}

ul {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

label {
  display: block;
}

hr {
  margin: 1rem 0;
}
